/* MEDIA QUERY*/
@media screen and (max-width: 320px) {
    html {
      font-size: 55%;
    }
    body {
      padding: 0;
      
    }
    #menu-bars {
      display: initial;
    }
    
    header {
      left: -120%;
    }
    .home {
      margin: 0;
      text-align: center;
    }
    .btn {
      display: flex;
      justify-items: center;
      justify-content: center;
    }
    .contenedor .box-contenedor {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .contenedor .box-contenedor .box {
      height: auto;
      width: auto;
    }
    .contenedor .ultimasNoticias {
      padding-bottom: 10px;
    }
    .contenedor .box-contenedor .box .card {
      overflow: hidden;
      height: 170px;
    }
    .contenedor .box-contenedor .box .card-contenido {
      font-size: 15px;
      margin-top: 20px;
      font-family: "Voces", cursive;
    }
  }
  @media screen and (max-width: 480px) {
    html {
      font-size: 55%;
    }
    body {
      padding: 0;
    }
    #menu-bars {
      display: initial;
    }
    header {
      left: -120%;
    }
    .home {
      margin: 0;
      text-align: center;
    }
    .btn {
      display: flex;
      justify-items: center;
      justify-content: center;
    }
    .contenedor .box-contenedor {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .contenedor .box-contenedor .box {
      height: auto;
      width: auto;
    }
    .contenedor .ultimasNoticias {
      padding-bottom: 10px;
    }
    .contenedor .box-contenedor .box .card {
      overflow: hidden;
      height: 200px;
    }
    .contenedor .box-contenedor .box .card-contenido {
      font-size: 15px;
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 600px) {
    html {
      font-size: 55%;
    }
    body {
      padding: 0;
    }
    #menu-bars {
      display: initial;
    }
    header {
      left: -120%;
    }
    .home {
      margin: 0;
      text-align: center;
    }
    .btn {
      display: flex;
      justify-items: center;
      justify-content: center;
    }
    .contenedor .box-contenedor {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .contenedor .box-contenedor .box {
      height: auto;
      width: auto;
    }
    .contenedor .ultimasNoticias {
      padding-bottom: 10px;
    }
    .contenedor .box-contenedor .box .card {
      overflow: hidden;
      height: 200px;
    }
    .contenedor .box-contenedor .box .card-contenido {
      font-size: 15px;
      margin-top: 20px;
    }
  }
  @media screen and (max-width: 768px) {
    html {
      font-size: 55%;
    }
    body {
      padding: 0;
    }
    #menu-bars {
      display: initial;
    }
    header {
      left: -120%;
    }
    header.active {
      left: 0%;
    }
    .home {
      margin: 0;
      text-align: center;
    }
   
    .btn {
      display: flex;
      justify-items: center;
      justify-content: center;
    }
    .contenedor .box-contenedor {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
    .contenedor .box-contenedor .box {
      height: auto;
      width: auto;
    }
    .contenedor .ultimasNoticias {
      padding-bottom: 10px;
    }
    .contenedor .box-contenedor .box .card {
      overflow: hidden;
      height: 200px;
    }
    .contenedor .box-contenedor .box .card-contenido {
      font-size: 15px;
      margin-top: 20px;
    }
  }

  
